<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.papyrus.information.modeling.wizards.category"
            class="org.eclipse.papyrus.information.modeling.wizards.NewInformationModelWizard"
            icon="images/icons/UMLModelEditorIcon_16x16-32.gif"
            id="org.eclipse.papyrus.information.modeling.wizards.createinformationmodel"
            name="InformationModel Model">
      </wizard>
      <wizard
            category="org.eclipse.papyrus.information.modeling.wizards.category"
            class="org.eclipse.papyrus.information.modeling.wizards.NewInformationModelProjectWizard"
            finalPerspective="org.eclipse.papyrus.infra.core.perspective"
            icon="images/icons/ClassDiagramEditorIcon_16x16-32.gif"
            id="org.eclipse.papyrus.information.modeling.wizards.createinformationmodelproject"
            name="InformationModel Project"
            project="true">
      </wizard>
      <category
            id="org.eclipse.papyrus.information.modeling.core.wizards.category"
            name="Information Modeling">
      </category>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="org.eclipse.papyrus.information.modeling.rcp.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="extensions/overviewExtensionContent.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="extensions/tutorialsExtensionContent.xml">
      </configExtension>
      <!--
      <theme
            default="false"
            id="org.eclipse.papyrus.information.modeling.intro.theme.information"
            name="%Theme.Information.Name"
            path="$nl$/themes/information"
            previewImage="$nl$/themes/information/preview.png"
            scalable="true">
         <property
               name="workbenchAsRootLink"
               value="true">
         </property>
         <property
               name="launchbarOverviewIcon"
               value="$theme$graphics/launchbar/overview16.png">
         </property>
         <property
               name="launchbarFirststepsIcon"
               value="$theme$graphics/launchbar/firststeps16.png">
         </property>
         <property
               name="launchbarTutorialsIcon"
               value="$theme$graphics/launchbar/tutorials16.png">
         </property>
         <property
               name="launchbarSamplesIcon"
               value="$theme$graphics/launchbar/samples16.png">
         </property>
         <property
               name="launchbarWhatsnewIcon"
               value="$theme$graphics/launchbar/whatsnew16.png">
         </property>
         <property
               name="launchbarMigrateIcon"
               value="$theme$graphics/launchbar/migrate16.png">
         </property>
         <property
               name="launchbarWebresourcesIcon"
               value="$theme$graphics/launchbar/webresources16.png">
         </property>
         <property
               name="highContrast-overview"
               value="$theme$graphics/icons/ctool/overview.png">
         </property>
         <property
               name="highContrast-firststeps"
               value="$theme$graphics/icons/ctool/firststeps.png">
         </property>
         <property
               name="highContrast-tutorials"
               value="$theme$graphics/icons/ctool/tutorials.png">
         </property>
         <property
               name="highContrast-samples"
               value="$theme$graphics/icons/ctool/samples.png">
         </property>
         <property
               name="highContrast-whatsnew"
               value="$theme$graphics/icons/ctool/whatsnew.png">
         </property>
         <property
               name="highContrast-webresources"
               value="$theme$graphics/icons/ctool/webresources.png">
         </property>
         <property
               name="highContrast-migrate"
               value="$theme$graphics/icons/ctool/migrate.png">
         </property>
         <property
               name="highContrast-workbench"
               value="$theme$graphics/icons/ctool/workbench.png">
         </property>
         <property
               name="highContrastNav-overview"
               value="$theme$graphics/icons/ctool/ov_nav.png">
         </property>
         <property
               name="highContrastNav-firststeps"
               value="$theme$graphics/icons/ctool/fs_nav.png">
         </property>
         <property
               name="highContrastNav-tutorials"
               value="$theme$graphics/icons/ctool/tu_nav.png">
         </property>
         <property
               name="highContrastNav-samples"
               value="$theme$graphics/icons/ctool/sa_nav.png">
         </property>
         <property
               name="highContrastNav-whatsnew"
               value="$theme$graphics/icons/ctool/wn_nav.png">
         </property>
         <property
               name="highContrastNav-webresources"
               value="$theme$graphics/icons/ctool/wr_nav.png">
         </property>
         <property
               name="highContrastNav-migrate"
               value="$theme$graphics/icons/ctool/mi_nav.png">
         </property>
         <property
               name="highContrastNav-workbench"
               value="$theme$graphics/icons/ctool/wb_nav.png">
         </property>
      </theme>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.papyrus.information.modeling.intro.category.papyrus"
            name="Papyrus">
      </category>
      <cheatsheet
            category="org.eclipse.papyrus.information.modeling.intro.category.papyrus"
            composite="false"
            contentFile="$nl$/cheatsheet/HelloWorld.xml"
            id="org.eclipse.papyrus.information.modeling.intro.cheatsheet.helloWorld"
            name="Create a Papyrus UML Class Diagram">
      </cheatsheet>
   </extension>
</plugin>
